---
import { Image } from "astro:assets";
import IconLink from "./IconLink";
import { GitHubIcon } from "@/icons/Icons";
import meImage from "../assets/me-laser.png";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<div>
  <div
    class="relative mx-auto w-2/3 max-w-3xl sm:w-10/12 sm:self-auto sm:justify-self-start"
  >
    <Image
      class="h-full w-full object-cover"
      src={meImage}
      widths={widths}
      sizes={sizes}
      loading="eager"
      alt="A floating astronaut in a space suit"
    />
  </div>
</div>
<h1 class="font-display mt-14 text-4xl/tight font-light text-white">
  Hello,{" "}<br />
  <span class="text-sky-300">I'm Laurent Della-Negra</span>
</h1>
<p class="mt-4 text-sm/6 text-gray-300">
  I'm a front-end developer with 10 years of experience in JavaScript
  frameworks, looking for exciting projects that push my skills to the next
  level.
</p>
{/* <SignUpForm /> */}
<div
  class="mt-8 flex flex-wrap justify-center gap-x-1 gap-y-3 sm:gap-x-2 lg:justify-start"
>
  <!-- <IconLink href="#" icon={BookIcon} className="flex-none">
    Documentation
  </IconLink> -->
  <IconLink
    href="https://github.com/laurentDellaNegra"
    icon={GitHubIcon}
    className="flex-none"
  >
    GitHub
  </IconLink>
  <!-- <IconLink href="/feed.xml" icon={FeedIcon} className="flex-none">
    RSS
  </IconLink> -->
</div>
